[submodule "packages/windows_printing_models"]
	path = packages/windows_printing_models
	url = https://github.com/Zenta-Code/windows_printing_models.git
[submodule "packages/windows_printing"]
	path = packages/windows_printing
	url = https://github.com/Zenta-Code/windows_printing.git
